@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v108/kJF1BvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oDMzByHX9rA6RzaxHMPdY43zj-jCxv3fzvRNU22ZXGJpEpjC_1v-p_4MrImHCIJIZrDCvHOej.woff2) format('woff2');
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.branding{
    font-family: serif;
}
.background {
    position: absolute;
    bottom: 0%;
    left: 0%;
    background-color: #E6E6FA;
    height: 200%;
    width: 100%;
    background-size: cover;
}

.login-card {
    height: 80%;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    display: flex;
    border: 0;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-desc {
    background: url("../images/travel.jpg") no-repeat top center;
    background-size: cover;
    width: 150%;
    overflow: hidden;
    border-radius: 20px;
    color: white;
    padding: 30px;
}

.card-form {
    padding: 20px 50px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-text-box {
    padding: 10px 16px;
    width: 100%;
    font-size: 18px;
    background: none;
    outline: none;
    border: none;
    border: 1px solid rgb(112 9 180 / 50%);
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

.input-text-box::placeholder {
}

.input-text-box:focus {
    border-color: #9c27b0;
    box-shadow:0 0 0 0.25rem rgb(227 13 253 / 25%)
}

.login-button {
    margin: 20px 0px 10px 0px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 200px;
    border: 0;
    font-size: 18px;
    background-color: #9c27b0;
    color: white;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease;
}

.login-button:hover,
.login-button:focus {
    transform: scale(.95);
}

.login-button-inverse {
    margin: 4px 0px;
    width: 100%;
    padding: 10px 20px;
    border-radius: 200px;
    border: 1px solid #9c27b0;
    font-size: 18px;
    color: #9c27b0;
    background-color: transparent;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s ease;
}

.login-button-inverse:hover,
.login-button-inverse:focus {
    transform: scale(.95);
    background-color: white;
    color: #9c27b0;
}
.card-form-heading {
    margin: 20px 0px 40px 0px;
}

.card-form-heading-secondary {
    font-size: 18px;
}

.card-form-heading-primary {
    font-size: 32px;
    font-weight: 500;
}
#errorStatus{
    border: 1px solid #b14242;
    color: #b14242;
    display: block;
    margin: 6px 0px;
    background: #f1aeb5;
    padding: 8px 20px;
    border-radius: 10px;
    z-index: 0;
}

.signup-card {
    height: 95%;
    width: 30%;
    padding: 10px 35px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    border: 0;
    color: black;
    font-family: sans-serif;
    overflow-y: auto;
}
.ui-password > input[type="password"]{
    width: 100%
}
.ui-password{
    display: block;
    width: 100%
}
.ui-inputnumber > input[type="text"]{
    width: 100%;
    display:block;
}

.ui-chart > canvas{
    width: 100px;
    height: 100px;
}
@media(min-width:992px) {
    .card-desc {
        width: 150%;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .card-desc {
        width: 60%;
    }
    .signup-card {
        width: 70%;
    }
    .card-form-heading-primary {
        font-size: 30px;
        font-weight: 500;
    }
}

@media(max-width:767px) {
    .login-card {
        width: 90%;
    }
    .signup-card {
        width: 90%;
    }
    .card-desc {
        display: none;
    }

    .card-form {
        width: 100%;
        padding: 20px 25px;
    }

    .login-button {
        margin: 15px 0px 8px 0px;
    }

    .card-form-heading {
        margin: 20px 0px 30px 0px;
    }

    .card-form-heading-primary {
        font-size: 28px;
        font-weight: 500;
    }
}
